/*CSS Site Caps de Rue*/

body{
    background-color: #f1f2f6
}

.banner {
    background-color:#C23616;
    background-size:215px;
    background-position: center;
}

.features {
    text-align: center;    
    font-size: 10px;
    font-family: 'Montserrat', bold;
}

footer {
    background-color:black;
    color:white;
    text-align: center;
    font-size:20px;
    padding-bottom: 5px;
}

.fa-user {
 color: white;
 padding-right: 30px;
 font-size: 20px;
}

.logocapsblanc {
    padding-left: 30px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;

}

.Titre {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 25px;
}


.btn-caps {
    background-color: #C23616; 
    color:white;
}

.btn-block{
    margin-top:20px;
}
